/* Global */
*{
	margin: 0;
	padding: 0;
  border: 0;}

body{
  letter-spacing: 0.025em;
  vertical-align: baseline;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #242943;
  color: #ffffff;
}

ol, ul {
	list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom-color: transparent;
  color: #9bf1ff;
  cursor: pointer;
}

a:active{
  color: #53e3fb;
} 

img{
  width: 100%;
  height: auto;
  max-height: 55vh;
  object-fit: cover;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.65;
  font-size: 2.5em;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], select {
  height: 2.75em;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(212, 212, 255, 0.035);
  border: none;
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  height:1.5em;
  width:1.5em;
  margin-bottom: -0.325em;
  margin-right: 0.5em;
  cursor:pointer;
  position:relative;
  background-color: #1e2235;
  border: #fefefe90 1.5px solid !important;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked{
  background: #53e3fb;
  border-color: #9bf1ff;
  color: #242943;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus{
  box-shadow: 0 0 0 1px #9bf1ff;
  border: none !important;
}

input[type="file"]{
  background-color: white;
  color: #242943;
  text-transform: uppercase !important;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
}
input, textarea{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
}

input:focus,textarea:focus{
  outline: #9bf1ff 2px solid !important;
}

.wrapper textarea{
  width:97%;
  font-size: 1em;
  padding-top: 1.5em;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button.white{
  background-color: #ffffff;
  box-shadow: none;
  color: #242943 !important;
}

button.white2{
  background-color: #ffffff;
  box-shadow: none;
  color: #242943 !important;
  font-size: 1em;
}

button.red{
  background-color: #FB6B53;
  box-shadow: none;
  color: #242943 !important;
  font-size: 1em;
}

button:hover{
  color: #9bf1ff;
  box-shadow: inset 0 0 0 2px #9bf1ff;
}

button:focus {outline:0;}

button:active{
  color: #53e3fb;
  box-shadow: inset 0 0 0 2px #53e3fb;
}

button.white:hover{
  background-color: #9bf1ff;
}

button.white2:hover{
  background-color: #9bf1ff;
}

button.red:hover{
  background-color: #9bf1ff;
}

button.white:active{
  color: #53e3fb;
}

.wrapper{
  padding: 4em 0 2em 0;
  margin: 0 auto;
  min-width: 75vw;
  max-width: 65em;
  width: calc(100% - 6em);
  overflow: hidden;
}

.errorWrapper{
  width:100%;
  height: 85vh; 
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto minmax(2em,auto) auto auto;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.errorWrapper h2{
  font-size: 2em;
}

.hidden{
  /* visibility: hidden; */
  display: none;
}

/* SVG */
.svg-menu{
  width: 1.5em;
  overflow: visible;
}

.svg-login{
  width: 1.6em;
  overflow: visible;
}

.logSide .svg-login{
  width: 2.5em;
  overflow: visible;
}

.svg-up{
  width: 1em;
  padding-top: 5px;
  overflow: visible;
}

.svg-fb{
  width: 1.5em;
  overflow: visible;
}

.svg-tw{
  width: 1.5em;
  overflow: visible;
}

.svg-yt{
  width: 1.5em;
  overflow: visible;
}

.svg-li{
  width: 1.5em;
  overflow: visible;
}

.svg-insta{
  width: 1.5em;
  overflow: visible;
}

.svg-error{
  width: 10em;
  overflow: visible;
}

.svg-eye, .svg-noEye{
  width: 1.5em;
  overflow: visible;
  margin-bottom: -0.3em;
  margin-left: 0.5em;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Header */
.headerWrapper{
  width:95%;
  margin:auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#main-header{
  background-color: #2a2f4a;
  /* box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15); */
  cursor: default;
  font-weight: 600;
  height: 3.25em;
  letter-spacing: 0.25em;
  line-height: 3.25em;
  text-transform: uppercase;
  width: 100%;
  display:block;
}

#main-header.alt{
  background-color: transparent;
  box-shadow: none;
  cursor: default;
  font-weight: 600;
  height: 3.25em;
  letter-spacing: 0.25em;
  line-height: 3.25em;
  text-transform: uppercase;
  width: 100%;
  position:absolute;
}

button#hide{
  outline: none;
  box-shadow: none;
  border: none;
}
header nav{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: end; 
}

#header nav a {
  display: block;
  font-size: 0.8em;
  height: inherit;
  line-height: inherit;
  /* padding: 0 0.75em; */
  position: relative;
}

header ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-weight:500;
}

header li:nth-child(1){
  text-align: right;
}

.menu{
  display:grid;
  justify-content: end;
  align-content: center;
}

.menu:hover{
  color: #9bf1ff;
}

.menu:active{
  color: #53e3fb;
}

.menu button{
  padding-top: 5px;
  background: none;
	color: inherit;
	cursor: pointer;
  outline: inherit;
  text-align: inherit;
  text-indent: inherit;
}

.login a{
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
  align-items: center;
  justify-items: end;
}

.sticky{
  position: fixed !important;
  background-color: #242943 !important;
  top: 0;
  width: 100%;
  -webkit-transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition-property: box-shadow;
  /* box-shadow: 0 2px 4px -1px rgba(1,1,1,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08); */
}

/* Main Page Header */
#main-header-side{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

#main-header-side .login a{
  display:grid;
  justify-content: end;
  align-content: center;
  padding-top: 12px
}

/* Header Logo */
#main-header .logo{
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#main-header .logo strong {
  border: currentColor 2px solid;
  border-right-color: transparent;
  color: #ffffff;
  display: inline-block;
  line-height: 1.65em;
  margin-right: -0.25em;
  padding: 0 0.125em 0 0.375em;
  font-size: 1em;
}

#main-header .logo:hover strong{
  color: #9bf1ff;
}

#main-header .logo span{
  color: #FB6B53;
  font-weight: 600;
}

#main-header .logo:hover span {
  color: #9bf1ff;
}

#main-header .logo:active span{
  color: #53e3fb;
}

/* Showcase */
#showcase h1{
  font-size: 3em;
}
#showcaseImg{
  opacity: 0.3;
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  object-fit: cover;
}

#showcase .wrapper{
  width:75%;
  margin: auto;
  padding-top: 10em;
}

#showcase .inner{
  width:50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#showcase h1{
  padding-top: 0.5em;
}

/* CSS Logo */
#showLogo{
  display: grid;
  grid-template-rows: repeat(5,1fr);
  grid-template-columns: repeat(3,1fr);
  width: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  overflow: visible;
}

#logoBorder{
  border: #ffffff 5px solid;
  grid-row: 1/end;
  grid-column: 1/3;
}

#logoBody{
  background-color: #242943;
  color: #FB6B53;
  grid-row: 3/5;
  grid-column: 3/4;
  text-align: right;
  font-size: 1.5em;
}

#d{
  font-size: 1.5em;
  grid-row: 2/4;
  grid-column: 1/2;
  text-align: right;
  width:30px;
}

#i{
  font-size: 1.5em;
  grid-row: 3/5;
  grid-column: 2/3;
  background-color: #242943;
  text-align: center;
  letter-spacing: 0.25em;
  width:25px;
}

#red{
  color: #FB6B53;
}

.absolute{
  position: absolute;
  display: grid;
  height: 100%;
}

/* Title */
h1.major{
  width: max-content;
  display: block;
}

.minor{
  margin-bottom: 2em;
  color: #cdcdcf;
  font-size: 90%;
}

.minor #line{
  margin-left: 10px;
  margin-right: 10px;
}

h1.major > :first-child {
  margin-bottom: 0;
  width: calc(100% + 0.5em);
}

h1.major > :first-child:after{
  content: '';
  background-color: #fefefe;
  display: block;
  height: 3px;
  margin: 0.325em 0 0.3em 0;
  width: 100%;
}

/* Footer */
.empty{
  background-color: rgba(212, 212, 255, 0.1);
  display: block;
  height:1px;
}

.footerWrapper{
  padding: 3em 0 2em 0;
  margin: 0 auto;
  width: 95%;
  overflow: hidden;
  text-align: center;
}

.footerWrapper.alt{
  bottom: 0;
  left: 0;
  right:0;
  position: fixed !important;
}

.footer-nav-list{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  min-width: 600px;
  max-width: 50%;
  margin:auto;
  text-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.footer-nav-list.alt{
  grid-template-columns: repeat(5,1fr) !important;
}

.footer-nav-list2{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  min-width: 400px;
  max-width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 0.9em;
  position: absolute;
  background: #242943fc;
}

.footer-nav-list2 li{
  border-left: #cdcdcf 2px solid;
}

.footer-nav-list2 li:first-child{
  border-left-color: transparent;
}

.footer-nav-list .write{
  color: #242943;
  background: #fff;
  padding: 0.1em .3em;
}

footer li:nth-child(5):hover{
  color: #9bf1ff;
  cursor: pointer;
}

footer li:nth-child(5):active{
  color: #53e3fb;
} 

.footer-nav-list .write a:hover{
  color: #242943;
}

.footer-nav-list .write:hover {
  background:#9bf1ff;
}

.footer-nav-list .write:active {
  background:#53e3fb;
}

.footer-social-list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.footer-social-list a{
  padding-right: 10px
}

footer p{
  padding-bottom: 5px;
  font-size:0.8em;
  color: #cdcdcf;
  font-weight: 300;
}

/*Game Section*/
section#game .wrapper{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap:1em;
}

section#game div > div{
  border: #e8491d 2px solid;
  grid-row:2/5;
}

section#game h1{
  grid-column:1/4;
  grid-row:1;
}

section#game h2{
  font-size: 2em !important;
}

section#game button{
  display: inline;
}

/* Article */
article p{
  margin: 0 0 2em 0;
  display:block;
  font-weight: 300;
}

picture>img{
  margin-bottom: 2em;
}

/* Login Page */
.log{
  background-color: transparent !important;
  top:0;
  left: 0;
  right:0;
  position: absolute !important;
}

.logInput{
  border: 2px rgba(255, 255, 255, 0.8) solid !important;
}

.logInput:hover{
  border: 2px #9bf1ff solid !important;
}

.logInput:active{
  border: 2px #53e3fb solid !important;
}

.logHeader{
  top: 0;
  left: 3%;
  right:0;
  width: 95%;
  height: 10vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  position: fixed;
}

.logHeader .logo{
  font-size: 1.25em;
}

.logSide{
  padding-top: 0.5em;
  display:grid;
  max-width: 35vw;
  min-width: 30vw; 
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  align-items: center;
  justify-items: center;
}

.logSide .b{
  padding-top: 1em;
  display: grid;
  grid-template-rows: auto minmax(auto,1em);
  text-align: left;
}
.logSide .b a{
  font-weight: 300;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  text-transform: none;
  margin-top: -1em;
}

.logSide .b a:hover{
  text-decoration: underline;
}


.logSide .c{
  padding-top: 0.75em;
}

.logSide .see{
  box-shadow:none !important;
  padding: 0;
}

#logGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
}

.logLeft{
  height:100vh;
  /* background: url(logCover.png) no-repeat;
  background-position-y: 70%;
  background-size: cover;
  background-blend-mode: darken;
  transform: scaleX(-1);
  filter: FlipH;   */
  background-image: linear-gradient(to bottom right,#242943 , #2a2f4a,#ffffff90, #FB6B53,#2a2f4a,#242943 );
  background-size: 115% 100%;
  -webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 10s ease infinite;
}

.logBlur{
  height:100vh;
  background-image: linear-gradient(to left,#252a44,#242943, #2a2f4af0, #FB6B5300,#2a2f4ac0,#242943d0 );
  background-size: 110% 90%;
  background-position: center right;
  -webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.logRight{
  padding-left: 3em;
  display:grid;
  width:35vw;
}

.logRight2{
  border: 2px #ffffff solid;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
  padding-left: 3em;
  display:block;
  width:35vw;
  height: 80vh !important;
}

.logRight h2,.logPop h2{
  font-size: 1.5em;
}

.logRight .white{
  margin-right: 0.5em;
}

#logFooter{
  bottom: 0;
  left: 0;
  right:0;
  position: absolute;
  padding-bottom: 0 !important;
  margin-bottom: -1em;
  overflow: hidden;
}

.logWrap{
  display: none;
  top: 0;
  width: 50vw;
  height: 100vh;
  position: fixed;
  /* display: grid; */
  grid-template: 1fr;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.logWrap2{
  display: grid;
  top: 0;
  width: 50vw;
  height: 100vh;
  position: fixed;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.logPop{
  display: block;
  padding:3em;
  padding-right: 5em;
  width:30vw;
  height: 63vh;
  background-color: #242943e0;
  border: 2px #ffffff solid;
}

.logPop.in{
  height: 55vh !important;
}

.logPop .white{
  margin-right: 3em;
}

/* .logPop .white:hover{
  background-color: #FB6B53;
  box-shadow: none !important;
} */

.logPop h1:after,.submitWrapper h1::after,.logRight2 h1::after{
  content: '';
  background-color: #fefefe;
  display: block;
  height: 3px;
  margin: 0.325em 0 0.3em 0;
  width: 60%;
}

.logPop label{
  display:inline-block;
  font-size: 1.1em;
  margin-bottom: 0.25em;
}

button.see{
  box-shadow:none !important;
  height: 1em;
  width: 1em;
  padding: 0;
}

/* News Page */
.newShowcase{
  width:100%;
  height: 50vh;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 4em;
}

.newShowcase>div{
  border: white 2px solid;
  height: fit-content;
}

.newOne{
  grid-column: 1/3;
  grid-row: 1/3;
  max-width: 100%;
  overflow: hidden;
  align-self: center;
}

.newOne:hover,.newTwo:hover{
  position: relative;
  overflow: hidden;
}

.newOne:hover>div,.newTwo:hover>div{
  display: block;
  overflow: hidden;
}

.newsTitle{
  display: none;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #242943d0;
  color: white;
  padding-top: 40%;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden;
}

.newsubTitle{
  display: none;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #242943d0;
  color: white;
  padding-top: 40%;
  font-size: 0.6em;
  text-align: center;
  overflow: hidden;
}

/* .newWrapper{
  display: grid;
  grid-template-columns: 7fr 3fr;
  width: 100%;
  grid-gap: 1em;
} */

.news{
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr 1fr auto;
  width: 100%;
  min-height: 40vh;
  grid-column-gap: 1em;
  margin-bottom: 2em;
}

.newButton{
  width:30%;
}

.news .image{
  grid-row: 1/end;
  border: white 2px solid;
  overflow: hidden;
  width:30vw;
}

.news .image:hover{
  position: relative;
}

.news img{
  min-width: 100%;
  width: auto;
  max-width: 35vw;
  height: auto;
  object-fit: cover;
}


/* Submit News */
.submitWrapper h1{
  min-width:40vw;
  max-width: 55%;
  margin-bottom: 2em;
}

.submitWrapper h2{
  font-size: 1.5em;
}

.submitWrapper{
  margin-bottom: 4em;
}

/* Leaderboard */
#leaderboard{
  margin: 0 auto;
}

.col:nth-child(even){
  background:#242943 !important;
}

.col:nth-child(odd){
  background:#353a54 !important;
}

#ldr{
  margin-bottom: 1em;
}

.col{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 2fr;
}

.col > div{
  border:white 1px solid;
  padding-left: 1em;
}

.col.main{
  height: 2.5em;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1.05em;
  text-transform: uppercase;
}
.col.main > div{
  padding-top: 0.5em;
  /* border: white 2px solid; */
  border-left: #242943 1px solid;
  background: white;
  color: #242943;
}

/* Game Page */
.gameList{
  margin: 0 auto;
  display: grid;
  width: 95%;
  height: 100%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 1em;
}

.gameList h2{
  font-size: 1.25em;
  text-align: center;
}

.gameImg{
  width: 100%;
  height: 250px;
  /* padding-top: 100%; */
  overflow: hidden;
  border: white 2px solid;
}

/* Generic Game */
.gameC{
  justify-self: end;
  padding-right: 4em;
}

#gameCenter{
  display: grid;
  grid-template: 1fr;
  justify-items: center;
  margin: auto;
  width:45vw;
  height: 70vh;
  margin-top: 8em;
  border: white 2px solid;
}

#gameFit{
  width: 100%;
  height: 100%;
}

.wordWrapper{
  display: grid;
  grid-template: 1fr;
  justify-content: center;
  align-self:center;
  align-items:center;
  align-content: center;
  margin:0 auto;
  width:30vw;
  text-align: center;
}

.gameTitle{
  display: block;
  margin-top: 2em;
  height: 2.5em;
  margin-bottom: -10em !important;
  padding-bottom: -10em !important;
  font-weight: 600;
  font-size: 2.5em;
}

.wordWrapper h3{
  font-size: 1.25em !important;
}
.wordWrapper h4{
  font-size: 1.5em;
  height: 1.5em;
  display: block;
}
.typeGame{
  width: 30vw !important;
}

/* Snake */
.SCORE{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2em;
}

canvas {
  border: 2px solid white;
}

#button{
  display: none;
}

#visible{
  display: block;
}

/* Profile */
#profile h1{
  font-size: 2em;
}

#profile h2{
  font-size: 1.5em;
}

#profile p{
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 2em;
}

.profileWrapper{
  width: 30%;
  margin: auto;
  border: white 1px solid;
  text-align: center !important;
}

.profileWrapper input{
  width: 50%;
  margin: 0 auto;
}

.profileWrapper input:last-child{
  margin-bottom: 3em;
}


@media screen and (max-width: 736px){
  h1 {
    font-size: 2em;
  }

  h2{
    font-size: 1em !important;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* For CloudBond */
.CBlogo{
  padding-top: 1.5em;
  padding-left: 6em;
  height: 10vh;
  width: 35vh;
}

.logRight2 h1{
  margin-top: 2vh;
}

#uList{
  display: block;
  height: 60vh;
  width:95%;
  overflow: auto;
}
